.sidebar {
  width: 200px;

  // padding: 20px;
  // background-color: #f8f9fa;
  // border-right: 1px solid #e9ecef;
}


.sidebar-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto 20px;
  border: 3px solid #fff;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.sidebar-avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.sidebar-name {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 10px;
}

.sidebar-bio {
  font-size: 14px;
  color: #6c757d;
  text-align: center;
  margin-bottom: 20px;
}

.sidebar-links {
  list-style-type: none;  /* 移除默认的列表样式 */
  padding: 0;
  margin: 0;
}

.sidebar-links li {
  margin-bottom: 6px;  /* 稍微增加了行间距 */
}

.sidebar-links a {
  display: flex;
  align-items: center;
  color: #495057;
  text-decoration: none;
  font-size: 16px;
}

.sidebar-links a:hover {
  color: #007bff;
}

.sidebar-links i {
  width: 24px;  /* 稍微增加了图标的宽度 */
  margin-right: 12px;  /* 增加了图标和文字之间的间距 */
  font-size: 18px;
  text-align: center;  /* 确保图标居中对齐 */
}

/* 自定义图标颜色 */
.sidebar-links .orcid i {
  color: #a6ce39;
}

.sidebar-links .bluesky i {
  color: #1da1f2;
}

/* 响应式设计 */
@media (max-width: 768px) {
  .sidebar {
      width: 100%;
      border-right: none;
      border-bottom: 1px solid #e9ecef;
  }
}
